<mtapp:setting
    id="setting_system"
    label='<__trans phrase="Enable">'
	>
    <input type="checkbox" name="setting_system" value="1"<mt:if name="setting_system"> checked="checked"</mt:if>>
</mtapp:setting>